.wrapper{
		position: absolute;
		left: 49%;
//		width: 100%;
		margin-left: 0;
		margin-right: 0;
//		background-color: black;

}
#circle 
{
	width: 100%;
	height: 100%;
	background: #656262;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50px;
	border-radius: 50%;
	position: inherit;
	z-index: 1;
	}

#square {
	width: 70%;
	height: 70%;
	background: rgba(255,255,255,0.5);
	position: inherit;
	margin: 15%;
	z-index: 2; 
	}

.movinglogo 
	{
//	position: absolute;
	top: 550px;
	left: 550px;
	}
	
.topLogo{
	top: -15px;
}
.centeredlogo 
	{	
	position: inherit;
//	text-align: center;
	}

.logo_med_up50 {
	width: 35px;
	position: relative;
	top: -17.5px;
}
.thirty
	{
		width: 30px;
		height: 30px;
	}
	
.fifty
	{
		width: 50px;
		height: 50px;
	}
.seventyfive
	{
		width: 75px;
		height: 75px;
		}

.onehundred
	{
		width: 100px;
		height: 100px;
	}
