// Sass Document
// MAIN STRUCTURE
@import 'shapes';


body {
	background-color: #ffffff;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Kameron', serif;	
	font-size: 4em;
	font-weight: normal;
	display: block;
	background-color: #444a64;
	color: #ffffff;
	padding: 3em 0 .5em 0;
	margin: 0;
	border-bottom:  2px solid #656262;
	width: 100%;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 4em;
	font-weight: normal;
	display: block;
	color: #858585;
	margin: 0;
}

h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2em;
	font-weight: normal;
	display: block;
	color: #858585;
	margin: 1.5em 0;

}
.tagline {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: .5em;
	font-weight: normal;
	display: block;
	color: #858585;
	margin: 2em 0;
	visibility: hidden; 

}
p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: .95em;
	font-weight: normal;
	line-height: 1.25;
	color: #ee7000;
	margin: 2em 0;
}

.portfolio_description {
/* 	display: block; */
	width: 300px;
	background-color: rgba(102,100,100,0.83);
	padding: 1em .5em 1em 1em;
	position: absolute;
	top: 0;
	left: 25px;
}
p.portfolio_description {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: .85em;
	font-weight: normal;
	color: #ffd500;

}
.portfolio_description span{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #ffd500;
	display: block;

}

ul {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: .95em;
	font-weight: normal;
	text-align: left;
	color: #000b33;
	margin: 2em 0;
	list-style: none;
}

a:link {
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: none;
	color: #858585;
	padding: 0;
	margin: 0;
} 
a:visited {
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: none;
	margin: 0;
}
a:hover,
a:focus {
	color: #858585;
	text-decoration: none;
}
a:active {
}

.header {
	border-bottom: 2px solid #656262;
	width: 93%;
	margin: 25px 0 0 0;
	background-color: #444a64;
	padding: 1em 0;
	text-align: left;
	z-index: 100;
	font-size: 115%;

}

body#print_design {
	background-color: #ffffff;
	text-align: left;
	width: 100%;
	margin: 0;
	padding: 0;

}

#print_design h1 {
	font-size: 1.5em;
	font-weight: normal;
	display: inline;
	background-color: none;
	color: #ffffff;
	padding: .25em 0;
	border-bottom: none;
	margin: 1em 1em 0 35px;
}

#print_design h2 {
	font-size: 1.25em;
	font-weight: normal;
	display: inline;
	color: #858585;
	margin: 0 ;

}

#print_design h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5em;
	font-weight: normal;
	text-align: left;
	display: inline;
	position: relative;
	top: 15px;
	left: 0;
	color: #858585;
	margin: 0 0 0 35px;
}	

#print_design h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2em;
	font-weight: bold;
	display: block;
	color: #858585;
	margin: 50px 0 0 35px;

}

.main_content{
	width: 85%;
	background-color: rgba(255,255,255,1);
	text-align: left;
	padding: 25px 0 0px 0;
}
.infobar{
	width: 15%;
	height: 100%;
	background-color: rgba(255,213,0, 1);
	position: fixed;
	top: 0;
	right: 0;
	z-index: 0;
	
}
.infobar ul {
	margin: 25px 0 0 15px;
}
.infobar li {
	margin: 15px 0;
}
.port_window_wrapper {
	position: relative;
	top: 0;
	left: 0;
/* 	border: 1px red solid; */
	margin: 0 0 75px 0;
}
.port_window{
	width: 66%;
	height: 300px;
	margin: 0;
	overflow: hidden;
	border: 2px solid #656262;
	position: relative;
	top:0;
	left: 29%;
}
.port_window img { 
	position: relative;
}

ul.portfolio_nav  {
	position: relative;
	top: 15px;
	left: 35px;
	margin: 10px 0 0 0;
	display: inline;
}

.portfolio_nav li {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	display: inline;
	margin: 0 50px 0 0;
}